:root{
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-background: #FFF;
    --footer-background: #2F303A;
}

h3{
    color: var(#212121);
}

p{
    color: var(--added-text);
}

[href="https://www.google.com/maps/place/Lesi+Ukrainky+Blvd,+26,+Kyiv,+Ukraine,+02000/@50.4265802,30.5280861,15z/data=!3m1!4b1!4m6!3m5!1s0x40d4cf0e033ecbe9:0x57a4dffefec77da0!8m2!3d50.4265807!4d30.5383858!16s%2Fg%2F1tctq5jv?entry=ttu"]{
    color: var(--main-background);
}

header>ul>li>a[href="mailto:info@devstudio.com"]{
    color: var(--accent-color);
}

footer{
    background-color: #2F303A;
}

.portfolio{
    color: var(--accent-color);
}

.all{
    background-color: var(--accent-color);
    color: #FFF;
}

address>ul>li>a{
    color: var(--main-background);
}

.webstudio{
    color: #2196F3;
}