:root{
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-background: #FFF;
    --footer-background: #2F303A;
    --footer-number: rgba(255,255, 255, 0.60);
    --button-background: #F5F4FA;
    --border-background: #EEEEEE;
    --line-color: #ECECEC;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
background-color: var(--main-background);
padding-top: 24px;
padding-bottom: 25px;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-brand{
color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
margin-right: 93px;
}    

.logo-color{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}

.header-nav{
    margin-right: auto;
}

.nav-list{
    display: flex;
    gap: 50px;
    margin-right: 290px;
}

.nav-item{
position: relative;
}

.nav-link{
color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.nav-link::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-top: 10px;
    position: absolute;
    top: 35px;
    opacity: 0;
    transform: scale(0);
    transition: transform 1s;
    transition-property: transform, opacity;
    transition-duration: 275ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus{
    color: var(--accent-color);
}

.nav-link:hover::after,
.nav-link:focus::after {
    opacity: 1;
    transform: scale(1);
}

.nav-link-1{
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 275ms;
}

.nav-link-1::after {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: var(--accent-color);
    border-radius: 20px;
    margin-top: 10px;
    position: absolute;
    top: 35px;
}

.nav-link-1:hover,
.nav-link-1:focus{
    color: var(--accent-color);
}

.header-list{
    display: flex;
    gap: 50px;
}

.header-link{
color: var(--added-text);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 1.14;
display: flex;
align-items: center;
}

.header-img{
    width: 16px;
    height: 12px;
    fill: var(--added-text);
    margin-right: 10px;
}

.header-image{
    width: 10px;
    height: 16px;
    fill: var(--added-text);
    margin-right: 10px;
}

.header-item:hover,
:focus {
.header-img,
.header-image{
fill: var(--accent-color);
}
.header-link {
color: var(--accent-color);
}
}

.line{
background: var(--line-color);
width: 1500px;
height: 1px;
}

.main-button{
background-color: var(--main-background);
padding-top: 94px;
padding-bottom: 50px;
}

.button-list{
display: flex;
gap: 8px;
justify-content: center;
}

.button-bttn{
color: var(--title-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.625; /* 162.5% */
letter-spacing: 0.48px;
background-color: var(--button-background);
border-radius: 4px;
padding-top: 6px;
padding-bottom: 6px;
padding-right: 22px;
padding-left: 22px;
border: none;
}

.button-bttn:hover,
.button-bttn:focus{
color: var(--main-background);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 1.625; /* 162.5% */
letter-spacing: 0.48px;
background-color: var(--accent-color); 
border-radius: 4px;
box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.main-presentation{
padding-bottom: 94px;
display: flex;
}

.presentation-list{
display: flex;
flex-wrap: wrap;
gap: 30px;
}

.presentation-item{
flex-basis: calc((100% - 60px) / 3);
transition-property: box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.presentation-item:hover,
.presentation-item:focus{
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
.presentation-p{
        opacity: 1;
        transform: translateY(0);
    }
}

.presentation-box {
    position: relative;
    overflow: hidden;
}

.presentation-img{
width: 100%;
}

.presentation-p {
    position: absolute;
    width: 370px;
    height: 294px;
    opacity: 0;
    top: 0;
    left: 0;
    padding: 63px 24px 63px 24px;
    background-color: rgba(33, 150, 243, 0.9);
    color: var(--main-background);
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.55;
    letter-spacing: 0.54px;
    transform: translateY(100%);
    transition-property: opacity, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.presentation-background{
border: 1px solid var(--border-background);
padding: 24px 20px;
}

.presentation-title{
color: var(--title-color);
font-family: Roboto;
font-size: 18px;
font-weight: 700;
line-height: 2; /* 200% */
letter-spacing: 1.08px;
margin-bottom: 4px;
}

.presentation-text{
color: var(--added-text);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.875; /* 187.5% */
letter-spacing: 0.48px;
}

.footer-description{
    background: var(--footer-background);
    padding-top: 60px;
    padding-bottom: 60px;
    }
    
    .footer-box{
    display: flex;
    }
    
    .logo-color{
    color: var(--accent-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 1.38;
    }
        
    .header-logo{
    color: var(--main-background);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    line-height: 1.38;
    }
    
    .description-address{
        margin-top: 20px;
    }
    
    .description-street{
    color: var(--main-background);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.42px;
    line-height: 1.71;
    }
    
    .description-list{
        margin-top: 9px;
    }
    
    .description-item{
        margin-top: 9px;
    }
    
    .description-link{
    color: var(--footer-number);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.42px; 
    line-height: 1.71;  
    }

    .social-div{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    
    .social-text {
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    .social-list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    }

    .social-link {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #4a4a52;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .social-link:hover,
    .social-link:focus {
        background-color: var(--accent-color);
    }
    
    .social-svg{
        width: 20px;
        height: 20px;
        margin-top: 32px;
        margin: 12px;
        fill: var(--main-background);
    }
    




    .form-text{
        color: #FFF;
        font-family: Roboto;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }
    
    .form-lable{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        margin-top: 20px;
    }
    
    .form-input {
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgba(255, 255, 255, 0.60);
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 125%;
        letter-spacing: 0.48px;
        width: 358px;
        height: 50px;
        border-radius: 4px;
        border: 1px solid rgba(255, 255, 255, 0.30);
        background: rgba(33, 150, 243, 0.00);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        padding-left: 16px;
    }
    
    .form-btn {
        color: #FFF;
        text-align: center;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 187%;
        letter-spacing: 0.96px;
        border-radius: 4px;
        background: #2196F3;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        width: 200px;
        height: 50px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    
    .form-svg {
        width: 24px;
        height: 24px;
        fill: #FFF;
    }