:root{
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-background: #FFF;
    --footer-background: #2F303A;
    --footer-number: rgba(255,255, 255, 0.60);
    --team-background: #F5F4FA;
}

.container{
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
background-color: var(--main-background);
padding-top: 24px;
padding-bottom: 25px;
}

.header-box{
    display: flex;
    align-items: center;
}

.header-brand{
color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
margin-right: 93px;
}    

.logo-color{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}

.nav-list{
    display: flex;
    gap: 50px;
}

.nav-link{
color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.header-nav{
    margin-right: auto;
}

.header-list{
    display: flex;
    gap: 50px;
}

.nav-link:hover,
.nav-link:focus{
color: var(--accent-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 1.14;
}

.nav-link-1{
    color: var(--accent-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.28px;
}

.nav-link-1:hover,
.nav-link-1:focus{
    color: var(--accent-color);
}

.header-link{
color: var(--added-text);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 1.14;
}

.header-link:hover,
.header-link:focus{
color: var(--accent-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 1.14;
}

.main-hero{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background: rgba(47, 48, 58, 0.40);
    background-image: url(../img/background_working.jpg), url(../img/overlay.jpg);
    }

.hero-title{
color: var(--main-background);
text-align: center;
font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
text-align: center;
margin-bottom: 30px;
width: 696px;
margin-right: auto;
margin-left: auto;
}

.hero-btn{
color: var(--main-background);
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 1.875; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--accent-color);
padding-top: 10px;
padding-bottom: 10px;
padding-right: 32px;
padding-left: 32px;
border: none;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}

.main-advantages{
background-color: var(--main-background);
padding-top: 94px;
}

.advantages-list{
display: flex;
justify-content: center;
gap: 30px;
}

.advantages-item::before{
    content: "";
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    background: var(--team-background);
    background-image: url(../img/antenna.jpg);
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;
}

.advantages-item:nth-child(2)::before{
    background-image: url(../img/clock.jpg);
}

.advantages-item:nth-child(3)::before{
    background-image: url(../img/diagram.jpg);
}

.advantages-item:nth-child(4)::before{
    background-image: url(../img/astronaut.png);
}

.advantages-title{
color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
line-height: 1.14;
margin-bottom: 10px;
}

.advantages-text{
color: var(--added-text);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
width: 270px;
}

.main-work{
background-color: var(--main-background);
padding-top: 94px;
padding-bottom: 94px;
}

.work-title{
color: var(--title-color);
font-family: Roboto;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
line-height: 1.17;
text-align: center;
}

.work-list{
display: flex;
gap: 30px;
margin-top: 50px;
justify-content: center;
}

.work-img{
width: 370px;
height: 294px;
}

.main-team{
background: var(--team-background);    
padding-top: 94px;
padding-bottom: 94px;
}

.team-title{
color: var(--title-color);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
line-height: 1.17;
margin-bottom: 50px;    
}

.team-list{
display: flex;
gap: 30px;
}

.main-img{
width: 270px;
height: 260px;
}

.team-item{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    border-radius: 0px 0px 4px 4px;
}

.team-caption-background{
background: var(--main-background);
text-align: center;
padding-top: 30px;
padding-bottom: 30px;
border-radius: 0px 0px 4px 4px;
}

.team-caption{
color: var(--title-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px; 
line-height: 1.1875;  
}

.team-text{
color: var(--added-text);
font-family: Roboto;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;  
line-height: 1.1875; 
margin-top: 10px;
text-align: center;
}

.footer-description{
background: var(--footer-background);
padding-top: 60px;
padding-bottom: 60px;
}

.logo-color{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}
    
.header-logo{
color: var(--main-background);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}

.description-address{
    margin-top: 20px;
}

.description-street{
color: var(--main-background);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.42px;
line-height: 1.71;
}

.description-list{
    margin-top: 9px;
}

.description-item{
    margin-top: 9px;
}

.description-link{
color: var(--footer-number);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
letter-spacing: 0.42px; 
line-height: 1.71;  
}

