:root{
    --logo-color: #000;
    --accent-color: #2196F3;
    --title-color: #212121;
    --added-text: #757575;
    --main-background: #FFF;
    --footer-background: #2F303A;
    --footer-number: rgba(255,255, 255, 0.60);
    --team-background: #F5F4FA;
}

.header{
background-color: var(--main-background);
}

.logo-color{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}

.header-brand{
color: var(--logo-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}

.nav-link{
color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.28px;
}

.nav-link:hover,
.nav-link:focus{
color: var(--accent-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 1.14;
}

.header-link{
color: var(--added-text);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 1.14;
}

.header-link:hover,
.header-link:focus{
color: var(--accent-color);
font-family: Roboto;
font-size: 14px;
font-weight: 500;
line-height: 1.14;
letter-spacing: 1.14;
}

.main-hero{
background-color: var(--footer-background);
}

.hero-title{
color: var(--main-background);
text-align: center;
font-family: Roboto;
font-size: 44px;
font-weight: 900;
line-height: 1.36; /* 136.364% */
letter-spacing: 2.64px;
text-transform: uppercase;
}

.hero-btn{
color: var(--main-background);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 700;
line-height: 1.875; /* 187.5% */
letter-spacing: 0.96px;
background-color: var(--accent-color);
}

.main-advantages{
background-color: var(--main-background);
}

.advantages-title{
color: var(--title-color);
font-family: Roboto;
font-size: 14px;
font-weight: 700;
letter-spacing: 0.42px;
text-transform: uppercase;
line-height: 1.14;
}

.advantages-text{
color: var(--added-text);
font-family: Roboto;
font-size: 14px;
font-weight: 400;
line-height: 1.71; /* 171.429% */
letter-spacing: 0.42px;
}

.main-work{
background-color: var(--main-background);
}

.work-title{
color: var(--title-color);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
line-height: 1.17;
}

.main-team{
background: var(--team-background);    
}

.team-title{
color: var(--title-color);
text-align: center;
font-family: Roboto;
font-size: 36px;
font-weight: 700;
letter-spacing: 1.08px;
line-height: 1.17;    
}

.team-caption{
color: var(--title-color);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 500;
letter-spacing: 0.48px; 
line-height: 1.1875;  
}

.team-text{
color: var(--added-text);
text-align: center;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.48px;  
line-height: 1.1875; 
}

.footer-description{
background: var(--footer-background);
}

.logo-color{
color: var(--accent-color);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}
    
.header-logo{
color: var(--main-background);
font-family: Raleway;
font-size: 26px;
font-weight: 700;
letter-spacing: 0.78px;
line-height: 1.38;
}

.description-street{
color: var(--main-background);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px;
line-height: 1.71;
}

.description-link{
color: var(--footer-number);
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
letter-spacing: 0.42px; 
line-height: 1.71;  
}